body {
    margin: 0;
    height: 100vh;
    background-image: url('https://i.pinimg.com/enabled/564x/fa/18/9e/fa189ef5afe5a68056c12d57a195ee8d.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.padre
{
    padding: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
    "header header"
    "nav    nav   "
    "cont1  cont2 "
    "cont3  cont3"
    "cont4 cont4"
    "foot   foot ";
    grid-gap: 15px;
    place-items: center !important;
    font-family: fantasy;
}

.padre .header
{
    grid-area: header;
    background-color: blanchedalmond;
    font-weight: bold;
}

.padre .nav
{
    font-weight: bold;
    font-size: 18px;
    grid-area: nav;
}

.padre .cont1
{
    grid-area: cont1;
}

.padre .cont2
{
    grid-area: cont2;
    place-content: center !important;
}

.padre .cont3
{
    grid-area: cont3;
}

.padre .cont4
{
    grid-area: cont4;
    padding: 10px;
    font-weight: bold;
}

.padre .foot
{
    grid-area: foot;
    background-color: blanchedalmond;
}

.row
{
    padding: 10px;
}
